<?php

return [
    'admin_webids' => [
        'https://id-0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d.solid-01.muze.nl/#me',
    ],
    'api_storage_path' => __DIR__ . '/build/data',
    'client_name' => 'MEENT Solid P1 Dongle Webhook',
    'jwt_ttl' => 300, // 5 minutes in seconds
    'metadata_cache_ttl' => 2592000, // 30 days in seconds
    'solid_storage_path' => __DIR__ . '/build/storage',
];
