<?php

return [
    'api_storage_path' => __DIR__ . '/build/data',
    'client_name' => 'MEENT Solid P1 Dongle Webhook',
    'jwt_ttl' => 300, // 5 minutes in seconds
    'metadata_cache_ttl' => 2592000, // 30 days in seconds
    'solid_storage_path' => __DIR__ . '/build/storage',
];
