/********( CSS Index )*********************************************************/
/*
    1. Generic Styles
    2. Form Styles
        2.1. Fancy checkboxes
        2.2. "Show Password" button
        2.2. "Show Password" button
 */

/*=======( Generic styles )===================================================*/
title {
    display: inline;
}

header ol {
    text-align: left;
}

main h2 {
    width: 100%;
}

td:has(a, code) {
    white-space: wrap;
    word-wrap: anywhere;
}

/*=======( Form styles )======================================================*/

/*-------( Fancy checkboxes )-------------------------------------------------*/
.webid-info input[type="checkbox"] {
    --checkbox-color: var(--color-secondary, #888);
    --checkbox-size: 1.35em;
    appearance: none;
    background-color: #8884;
    border-radius: 0;
    border: 0.15em solid transparent;
    cursor: default;
    height: var(--checkbox-size);
}

.webid-info input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: var(--checkbox-size);
}

.webid-info input[type="checkbox"]::before {
    box-shadow: inset var(--checkbox-size) var(--checkbox-size) var(--checkbox-color);
    clip-path: polygon(15% 45%, 0 65%, 50% 100%, 100% 15%, 80% 0%, 45% 65%);
    content: "";
    display: block;
    height: 100%;
    transform-origin: bottom left;
    visibility: hidden;
    width: 100%;
}

.webid-info input[type="checkbox"]:checked::before {
    visibility: visible;
}

/*-------( "Show Password" button )-------------------------------------------*/
/* <label><input type="password" /><a data-js="show-password">👁️</a></label>  */
a[data-js="show-password"] {
    font-size: 1.35rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0.15em;
}

input[type="text"] + a[data-js="show-password"]:after {
    content: "❌";
    position: absolute;
    right: 0;
    top: 0;
}

input:has(+ a[data-js="show-password"]:hover) {
    color: var(--color-link, #8884);
}

label:has( > a[data-js="show-password"]) {
    padding-right: 2.35rem;
    position: relative;
}

/*-------( "Logout" button )--------------------------------------------------*/
form[action$="logout"] {
    margin: 0 auto;
    padding: 0.15rem 1rem;
    width: fit-content;
}

form[action$="logout"] button {
    margin-left: 1rem;
    padding: 0.15rem;
}
